{% extends 'base.html' %}

{% block title %}
    Meslek Sorgulama
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">{{ meslek }}</h1>
        
        <div class="mt-4">
            <h3 class="text-primary">Maaş Bilgileri</h3>
            <p><strong>{{ katilimci }}</strong> kullanıcının katıldığı anket sonucu elde edilmiş maaş verileri:</p>
            <ul class="list-group">
                <li class="list-group-item">En düşük maaş: <strong>{{ dusuk_maas }}</strong></li>
                <li class="list-group-item">Ortalama maaş: <strong>{{ ortalama_maas }}</strong></li>
                <li class="list-group-item">En yüksek maaş: <strong>{{ yuksek_maas }}</strong></li>
            </ul>
        </div>

        <div class="mt-4">
            <h3 class="text-primary">İlgili Bölümler</h3>
            <ul class="list-group">
                {% for bol in bolumler %}
                    <li class="list-group-item">{{ bol.bolum }} / %{{ bol.yuzde }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-4">
            <h3 class="text-primary">İlgili Sektörler</h3>
            <ul class="list-group">
                {% for sek in sektorler %}
                    <li class="list-group-item">{{ sek.sektor }} / %{{ sek.yuzde }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-4">
            <h3 class="text-primary">İlgili Yetenekler</h3>
            <ul class="list-group">
                {% for yetenek in yetenekler %}
                    <li class="list-group-item">{{ yetenek }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
